<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--全局配置，将二级缓存开启（其实该值默认值就是true，即开启的-->
    <!--只有在全局配置中开启了二级缓存，在各个命名空间中配置的二级缓存才会生效-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>


    <!--更便捷的方式-->
    <mappers>
        <!--
        这种方式会先查找pers.penglan.mybatissummary.mapper包下的所有接口，循环对接口进行如下的操作：
        1. 检查接口对应的命名空间是否已经存在。存在，则直接抛出异常，否则继续下面的。
        2. 加载接口对应的XML文件，定位方式:接口的的全限定名转换为路径的形式，并在末尾加上".xml"的后缀。查找生成的路径对应的资源，
        如果存在，则解析该XML文件。
        3. 处理接口中的注解
        -->
        <package name="pers.penglan.springbootsummary.mapper"/>
    </mappers>
</configuration>